/* Estilo do corpoda página */
body {
    background-color: rgb(158, 198, 163); /* Fundo branco */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    position: relative; /* Para aaposicionar a imagem de rodapé */
}

/* Contêiner central */
.container {
    max-width: 400px;
    margin-top: 200px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #f9f9f9;
}

    /*Campos de entrada */
    input[type="number"]{
        width: 80%;
        padding: 10px;
        margin: 10px 0;
        font-size: 16px;
    }

    /* Botão */
    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

    /* Resultado */
    #resultado {
        margin-top: 20px;
        font-weight: bold;
    }

    /* Imagem no rodapé centralizada */
    .rodape-imagem {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        height: auto;
    }